{% extends "base.html" %}
{% block content %}
<div class="container mx-auto" style="min-height:510px; height:50%; position:relative;">

    <table class="table caption-top">
        <caption><h4>List of Employees</h4></caption>
        <thead>

        <tr>
            <th scope="col">Name</th>
            <th scope="col">DOB</th>
            <th scope="col">DOJ</th>
            <th scope="col">Department</th>
            <th scope="col">Designation</th>
            <th scope="col">City</th>
            <th scope="col">Status</th>
            <th scope="col">Country</th>
            <th scope="col">ZipCode</th>
            <th scope="col">Leaves</th>
            <th scope="col">Active</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>


        </tr>

        </thead>

        <tbody>
        {% for employee in employees %}

        <tr><a href="{% url 'emp-detail' employee.pk %}">

            <td scope="col"><a href="{% url 'emp-detail' employee.pk %}" style="color:black; text-decoration:none">{{employee.Name|slice:":15"}}</a>
            </td>
            <td scope="col">{{employee.DOB|slice:":15"}}</td>
            <td scope="col">{{employee.DOJ|slice:":20"}}</td>
            <td scope="col">{{employee.Department|slice:":20"}}</td>
            <td scope="col">{{employee.post|slice:":20"}}</td>
            <td scope="col">{{employee.Address|slice:":15"}}...</td>
            <td scope="col">{{employee.City|slice:":20"}}</td>
            <td scope="col">{{employee.Country|slice:":20"}}</td>
            <td scope="col">{{employee.ZipCode|slice:":20"}}</td>
            <td scope="col">{{employee.Leave_count|slice:":10"}}</td>
            <td scope="col">{{employee.Active}}</td>
            <td scope="col"><a href="{% url 'emp-edit' employee.pk %}">
                <button class="btn btn-warning" type="button">Update</button>
            </a></td>
            <td scope="col"><a href="{% url 'emp-delete' employee.pk %}">
                <button class="btn btn-danger" type="button">Delete</button>
            </a></td>
        </a>

        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination mx-auto" style="width:100%; justify-content:center; ">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="btn btn-secondary mb4" href="?page=1">&laquo; first</a>
            <a class="btn btn-secondary mb4" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current fw-bold">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a class="btn btn-secondary mb4" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="btn btn-secondary mb4" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>

    <br/>
</div>

{% endblock %}

